:root {
    font-size: 16px;
    font-family: "MS Open Sans";
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #7e7eeb;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }