/* :root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --text-primary: #000000;
  --text-secondary: #00a2e2a6;
  --bg-primary: #ffffff;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --fa-primary: #ff7eee;
  --fa-secondary: #df49a6;
  --size-limit: 600px;
} */
 html {
  /* dark */
	--brand-dark: var(--orange-3);
	--text-1-dark: var(--gray-3);
	--text-2-dark: var(--gray-5);
	--surface-1-dark: var(--gray-12);
	--surface-2-dark: var(--gray-11);
	--surface-3-dark: var(--gray-10);
	--surface-4-dark: var(--gray-9);
	--background-dark: var(--gradient-8);
	--border-dark: var(--gray-9);

	/* light */
	--brand-light: var(--orange-10);
	--text-1-light: var(--gray-8);
	--text-2-light: var(--gray-7);
	--surface-1-light: var(--gray-0);
	--surface-2-light: var(--gray-1);
	--surface-3-light: var(--gray-2);
	--surface-4-light: var(--gray-3);
	--background-light: none;
	--border-light: var(--gray-4);
}

:root {
	color-scheme: dark;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --text-primary: #000000;
  --text-secondary: #00a2e2a6;
  --bg-primary: #ffffff;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --fa-primary: #ff7eee;
  --fa-secondary: #df49a6;
  --size-limit: 600px;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--brand: var(--brand-light);
		--text-1: var(--text-1-light);
		--text-2: var(--text-2-light);
		--surface-1: var(--surface-1-light);
		--surface-2: var(--surface-2-light);
		--surface-3: var(--surface-3-light);
		--surface-4: var(--surface-4-light);
		--background: var(--background-light);
		--border: var(--border-light);
	}
}

[color-scheme='dark'] {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

[color-scheme='light'] {
	color-scheme: light;

	--brand: var(--brand-light);
	--text-1: var(--text-1-light);
	--text-2: var(--text-2-light);
	--surface-1: var(--surface-1-light);
	--surface-2: var(--surface-2-light);
	--surface-3: var(--surface-3-light);
	--surface-4: var(--surface-4-light);
	--background: var(--background-light);
	--border: var(--border-light);
}

@media only screen and (max-width: 900px) {
  :root {
    font-size: 12px;
  
    --the-font-size: larger;
  
  }
  
}

@media only screen and (min-width: 900px) {
  :root {
    font-size: 16px;
    --the-font-size: larger;

  }
  
}



body {
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%
}
p{
font-size: var(--the-font-size);

}
ul{
  font-size: var(--the-font-size);
  
  }


 .glass{
  visibility: visible;

  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.4);

 } 


 .erlang{
  overflow-x: scroll;
  /* background: rgba(0, 0, 255, 0.73); */
}
